.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;

  & > * {
    margin: 8px
  }
}

.logo {
  $width: $contentWidth / 3;
  $height: $width / 2.69;

  display: inline-block;
  height: $height;
  width: $width;
}

.header-button {
  @include button;
  align-self: center;
}
